<!-- projects.ejs
Zeenath Razak
300591954
01/10/2022
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
   
      <!--<h1 class="display-4">About <%= title %> page</h1>-->
    </div>
   <h1>Our projects!</h1>
   
  <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="Assets/weatherApp.png" alt="">
  
                    <div class="card-body">
                        <h5 class="card-title">Weather App</h5>
                        <p class="card-text">
                            
                        </p>
  
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="Assets/bmiCalc.png" alt="">
  
                    <div class="card-body">
                        <h5 class="card-title">BMR Calculator</h5>
                        <p class="card-text">
                      
                        </p>
                          
                      
                    </div>
                </div>
            </div>
        </div>
    </div>

  </main>
 
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>